$dodger: dodgerblue;
$white: white;
$dark: rgb(5, 15, 44);
$yellow: yellow;
$cyan-light: #477397;

.about-info{
    width: 100%;
    min-height: 500px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    @mixin flexOne{
        min-width: 300px;
        flex: 1;
        height: 500px;
        border: 1px solid $cyan-light;
    }

    .about-img{
        @include flexOne();
    }
    .about-info{
        @include flexOne();
        border: 1px solid $yellow;
    }
}
.languanges-container{
    display: flex;
    gap: 1.5rem;
    max-width: 1200px;
    border: 1px solid $dodger;
    overflow-x: auto;
    padding: 1rem;

    &::-webkit-scrollbar{
        height: 15px;
    }
    &::-webkit-scrollbar-track{
        background: none;
    }
    &::-webkit-scrollbar-thumb{
        background: $cyan-light;
    }

    .languange{
        display: flex;
        align-items: center;
        padding-inline: 1rem;
        width: 300px;
        height: calc(2rem + 50px);
        background: $dark;
        gap: 1rem;
        // border: 1px solid $dodger;

        & > *{
            outline: 1px dashed $cyan-light;
        }
        img{
            // flex: 1;
            width: 50px;
            height: 50px;
            outline: 1px solid $white;
            // background: $yellow;
        }
    }
}