$dodger: dodgerblue;
$white: white;
$dark: rgb(5, 15, 44);
$yellow: yellow;
$cyan-light: #477397;
$light-grey: lightgrey;

.about-info{
    width: 100%;
    min-height: 60%; //NOT WORKING
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    @mixin flexOne{
        min-width: 300px;
        flex: 1;
        height: 500px;
        border: 1px solid $cyan-light;
        display: grid;
        place-items: center;
    }

    .about-img{
        @include flexOne();
        position: relative;

        .bg-color{
            position: absolute;
            background: $dodger;
            width: 300px;
            height: 300px;
            border-radius: 2rem;
            transform: rotate(15deg);
        }
        img{
            position: absolute;
            z-index: 2;
            width: 300px;
            height: 300px;
            border-radius: 2rem;
            background: $light-grey;
        }
    }
    .about-info{
        @include flexOne();
        border: 1px solid $yellow;

        .p-about{
            width: 100%;

            p{
                font-size: 1.2rem;
                line-height: 2rem;
            }

            .heading{
                text-align: center;
                margin-bottom: 1rem;
                color: $yellow;
                font-size: 2.5rem;
                font-weight: bold;
            }
        }
    }
}